[Desktop Entry]
Name=Alexgram
Comment=New era of messaging
TryExec=Alexgram
Exec=Alexgram -- %U
Icon=org.alexgram.desktop
Terminal=false
StartupWMClass=AlexgramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=Alexgram -quit
Name=Quit Alexgram
Icon=application-exit
